@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
    --color-primary: #FF6769;
    --color-secondary: rgb(255, 246, 246);
    --color-bg: rgb(255, 228, 228);
    --color-white: #fff;
    --color-primary-light: #ff8183;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
}

a {
    color: black;
    text-decoration: none;
}

.highlight {
    color: var(--color-primary);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 8%;
    z-index: 1;
}

nav .logo {
    font-size: 30px;
    color: #FF6769;
}

nav .menu {
    display: flex;
}

.form-search {
    font-size: 18px;
    background-color: var(--color-secondary);
    display: flex;
    padding: 8px 16px;
    border: 1px solid var(--color-primary);
    border-radius: 80px;
}

label,
.btn {
    color: var(--color-primary);
}

.search {
    font-size: 16px;
    width: 250px;
    border: none;
    outline: none;
    margin: 0 10px;
    padding-left: 10px;
    border-right: 1px solid var(--color-primary);
    background-color: var(--color-secondary);
}

.btn {
    border: none;
    outline: none;
    background-color: var(--color-secondary);
    cursor: pointer;
    font-size: 18px;
}

nav .menu .about {
    font-weight: 500;
    margin-left: 30px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 80px 80px 80px 0;
    color: var(--color-primary);
    padding: 8px 16px;
}

/* main */

main .hero {
    position: relative;
    height: 95vh;
    display: flex;
}

main .hero .left {
    margin-top: 80px;
    width: 60%;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .hero .right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

main .hero .right img {
    display: block;
    max-width: 90%;
    filter: drop-shadow(2px 10px 3px rgba(0, 0, 0, 0.4));
}

.heading {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.sub {
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    font-weight: 300;
}

.arrow {
    font-size: 25px;
    font-weight: 800;
    color: var(--color-primary);
    width: 80px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid var(--color-primary);
    border-radius: 80px 80px 80px 0;
}

.bottom-search {
    display: none;
}

main .hero .bg {
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    background-color: var(--color-bg);
    border-radius: 0 0 0 100px;
    z-index: -1;
}

/* random recipe */

.random {
    padding: 80px 8% 50px 8%;
    text-align: center;
}

.random-recipe-svg {
    width: 400px;
    filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.2));
}

.random-recipe {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin: 20px 0;
}

.recipe {
    padding: 30px 60px;
    margin-bottom: 20px;
    background-color: var(--color-bg);
    border-radius: 0 100px 0 0;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-weight: 500;
    margin-right: 20px;
    background-color: var(--color-primary);
    padding: 5px 10px;
    color: white;
    transform: skewX(-10deg);
    letter-spacing: 2px;
}

.area {
    padding: 0 5px;
    border-bottom: 1px solid var(--color-primary);
}

.ingridients {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingridients .item {
    margin: 10px;
    padding: 5px 10px;
    background-color: var(--color-primary-light);
    border-radius: 5px;
}

.instruction {
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-primary);
}